<app-header></app-header>


<main>
    <section class="main-section pad-70">
        <div class="headline">
            <h1>Home Component</h1>
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
        </div>
        <img ngSrc="tokyo-japan-july-28-2022-seiko-sharp-edged-presage-spb223j1-macro-photo-of-the-clock-face-of-japan-wrist-watch-the-seiko-presage-series-is-an-a-2K7XWJH.jpg"  width="300" height="300"  >
    </section>
</main>



{{ entradaPropos}}


<button (click)="submit()">Emitir Evento</button>


<button routerLink="/categoria">Categoria</button>
